
      <div>
        <article class="post">
          <a href="mailto:ads@757live.co?subject=Advertising with 757Live Network">
            <header>
              Your ML ad here
            </header>
            <div class="content">
              <p><img src="/assets/img/logo.png"><span class="domain">
                you.com soon
              </span>
              </p>
              <p>Call for papers?  New API?  Kaggle competition?  Open position?  Now you can advertise opportunities relevant to machine learning here.  Ping ads@757Live.co</p>
            </div>
            <footer>
                  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> <script> (adsbygoogle = window.adsbygoogle || []).push({ google_ad_client: "ca-pub-2120139198713104", enable_page_level_ads: true }); </script>
              ADVERTISEMENT
                  
            </footer>
            </a>
        </article>
      </div>
